.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border: 8px;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px 50px;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0px;
  color: #212121;
}

.modal__title {
  margin: 0 0 32px;
}

.modal__close-btn {
  background-image: url(../images/Property\ 1=Default.svg);
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 50px;
}

.modal__close-btn:hover {
  background-image: url(../images/Property\ 1=Variant2.svg);
  background-color: transparent;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  display: block;
  margin: 0 0 8px;
}

.modal__input {
  width: 100%;
  padding: 16px 0 16px 12px;
  border-radius: 8px;
  margin-bottom: 32px;
  border: solid #21212166 1px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  cursor: pointer;
  margin-right: auto;
  margin-top: auto;
  padding: 18px 32px 18px 32px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
}

@media screen and (max-width: 627px) {
  .modal__label {
    font-size: 20px;
  }

  .modal__label {
    font-size: 16px;
  }

  .modal__container {
    font-size: 16px;
    padding: 12px;
  }

  .modal__submit-btn {
    width: 100%;
    max-width: none;
  }
}
