.profile {
  display: flex;
  flex-direction: row;
  padding: 80px 80px 0 80px;
}

.profile__avatar {
  /* border: 2px dashed black; */
  border-radius: 5px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  /*To-Do: Add backup fonts*/
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__info-name {
  margin-top: 0;
  margin-bottom: 12px;
}

.profile__info-description {
  font-size: 16px;
}

.profile_edit-button {
  margin-top: 174px;
  width: 84px;
  height: 16px;
  font-size: 16px;
}

.profile__new-post-button {
  margin-top: auto;
  margin-left: auto;
}
