.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 350px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

.card__like-btn {
  background-image: url(../images/like-icon-dark.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-size: cover;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_clicked {
  background-image: url(../images/likeButtonClickedDf.svg);
  opacity: 100%;
}

.card__like-btn_clicked:hover {
  background-image: url(../images/LikeButtonClickedHv.svg);
}

.card__image-container {
  position: relative;
}

.card__delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background-size: 16px 16px;
  cursor: pointer;
  border: none;
  background-image: url(../images/trashcan_btn.svg);
  background-repeat: no-repeat;
  background-color: #0000004d;
  border-radius: 50%;
  background-position: center;
}

.card__delete-btn:hover {
  background-color: #ff6565;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
}
