.profile {
  display: flex;
  padding: 34px 0 20px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

/* Avatar section & Edit Avatar button */
.profile__avatar-section {
  position: relative;
  display: inline-block;
}

.profile__edit-avatar {
  position: relative;
  display: inline-block;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.profile__avatar {
  display: block;
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 7px;
}

.profile__edit-txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* match image width */
  height: 100%; /* match image height */
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0); /* start transparent */
  color: white;
  font-weight: bold;
  border-radius: 7px; /* match avatar rounding */
  opacity: 0;
  transition: background 0.3s ease, opacity 0.3s ease;
}

.profile__edit-avatar:hover .profile__edit-txt {
  background: rgba(0, 0, 0, 0.6); /* dark overlay */
  opacity: 1; /* show text */
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.profile__name {
  margin: 0 0 12px 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.profile__edit-btn {
  display: flex;
  gap: 8px;
  margin-top: auto;
  background: transparent;
  border: none;
  opacity: 70%;
  padding: 0;
  text-align: left;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 100%;
}

.profile__add-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: auto;
  padding: 18px 32px 18px 32px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background-color: #212121;
  color: #fcf5e5;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  cursor: pointer;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__column {
    margin: 0 0 20px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__edit-btn {
    margin-left: auto;
    margin-right: auto;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }
}
